mysql-connector-python
sidrapy
dateparser
matplotlib
numpy
tqdm
prophet
scikit-learn
torch
selenium
beautifulsoup4
fastapi
uvicorn
plotly
nbformat
streamlit
streamlit-extras
google-generativeai
gspread
gspread_dataframe
oauth2client
